# Shopify Theme
.shopify/
config/settings_data.json
config/settings_schema.json
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history/
.env
.DS_Store
Thumbs.db
*.swo
*.swo
*.swn
*.bak
*.tmp
